.game-container{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  #game-map{
    background-color: #808080;
    position: relative;
    float: left;
    .target {
      position: absolute;
      background-color: red;
    }
  }
  .game-stats{
    float: left;
    padding: 5px 10px;
    .game-stats__header{
      text-align: center;
      margin: 0px;
      padding: 5px 10px;
    }
    .game-stats__list {
      counter-reset: li;
      list-style: none;
      margin-bottom: 4em;
      padding-left: 18px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      .game-stats__list__element{
        position: relative;
        display: block;
        padding: 3px;
        padding-left: 20px;
        margin: .5em 0;
        background: #ddd;
        color: #444;
        text-decoration: none;
        border-radius: .3em;
        transition: all .3s ease-out;
        &:hover{
          background: #eee;
        }

        &:hover:before{
            transform: rotate(360deg);  
        }

        &:before{
          content: counter(li);
          counter-increment: li;
          position: absolute;
          left: -1.3em;
          background: #87ceeb;
          height: 25px;
          width: 25px;
          line-height: 25px;
          border: .3em solid #fff;
          text-align: center;
          font-weight: bold;
          border-radius: 2em;
          transition: all .3s ease-out;
          top: 0px;
          bottom: 0px;
          margin: auto 0px;
        }
      }
    }
  }
}

.start-game-modal{
  position: absolute;
  width: 40%;
  height: 100px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.66);
  border: solid 2px #000;
  &--stats{
    height: 80%;
  }
}