.game-container{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  #game-map{
    background-color: #808080;
    position: relative;
    float: left;
    .target {
      position: absolute;
      background-color: red;
    }
  }
  .game-stats{
    float: left;
  }
}